#footer {
    display: flex;
    width: 100%;
    height: 270px;
    background: #0f4a58;

}

#footer-frame {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;

    width: 1140px;
    height: 270px;
}

#contact-us-frame {
    display: flex;
    margin-top: 50px;
    margin-left: 0px;
    max-width: 250px;
    max-height: 175px;
    flex-direction: column;
}

#contact-us-header {
    color: #ffffff;
    line-height: 20px;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.6px;
}

#contact-us-text {
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
    margin-top: 15px;
}

#contact-us-email {
    color: #43b5a5;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    margin-top: 15px;
}

#visit-us-frame {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    width: 250px;
    height: 175px;
    flex-direction: column;
}

#visit-us-header {
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0.6px;
}

.adress {
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
}

.number-style {
    color: #43b5a5;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
}

#visit-us-adress-1 {
    margin-top: 15px;
}

#visit-us-adress-2 {
    margin-top: 15px;
}

#follow-us-frame {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    width: 250px;
    height: 175px;
    max-width: 250px;
    max-height: 175px;
    flex-direction: column;
}

#follow-us-header {
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0.6px;
}

#follow-us-facebook {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

#facebook-logo {
    display: flex;
    margin-top: 4px;
    width: 20px;
    height: 20px;
}

#facebook-text {
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    margin-left: 10px;
}

#follow-us-facebook {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

#facebook-logo {
    display: flex;
    margin-top: 4px;
    width: 20px;
    height: 20px;
}

#facebook-text {
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    margin-left: 10px;
}

#follow-us-instagram {
    display: flex;
    flex-direction: row;

}

#instagram-logo-footer {
    display: flex;
    margin-top: 4px;
    width: 20px;
    height: 20px;
}

#instagram-text-footer {
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    margin-left: 10px;
}



#giftcard-frame {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    width: 250px;
    height: 175px;
    max-width: 250px;
    max-height: 175px;
    flex-direction: column;
}

#giftcard-header {
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0.6px;
}

#gavekort-info-frame {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

#gavekort-logo {
    width: 20px;
    height: 20px;
}

#gavekort-text {
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    margin-left: 10px;
}

#paypal-frame {
    display: flex;
    margin-top: 30px;
    width: 230px;
    height: 67.69px;
}


#paypal-pic {
    width: 230px;
    height: 67.69px;
}